.hotel-details img {
  width: 250px;
  border-radius: 10px;
  margin-right: 10px;
}

.book-btn {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
